@model OnlineTicketData.Models.TicketBooking

<h1>Create Ticket</h1>

<form asp-action="BookTicket">
    <div class="form-group">

        <label asp-for="CustomerName">Customer Name</label>
        <input asp-for="CustomerName" class="form-control" />
        <span asp-validation-for="CustomerName" class="text-danger"></span>
    </div>


    <div class="form-group">

        <label asp-for="Event.EventName">Event Name</label>
        <input asp-for="Event.EventName" class="form-control" />
        <span asp-validation-for="Event.EventName" class="text-danger"></span>
    </div>
  
    <div class="form-group">
        <label asp-for="NumberOfTicket">Number of Tickets</label>
        <input asp-for="NumberOfTicket" class="form-control" />
        <span asp-validation-for="NumberOfTicket" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Book</button>
    <a asp-action="Index">Back to List</a>
</form>