@model IEnumerable<OnlineTicketData.Models.TicketBooking>
<br />

<h1>Ticket List</h1>

<table class="table">
    <thead>
        <tr>
            <th>TicketId</th>
            <th>CustomerName</th>
            <th>EventName</th>
            <th>Booked Tickets</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model)
        {
            <tr>
                <td>@ticket.TicketId</td>
                <td>@ticket.CustomerName</td>
                <td>@ticket.Event.EventName</td>
                <td>@ticket.NumberOfTicket</td>
               
               
            </tr>
        }
    </tbody>
</table>


