@model IEnumerable<Event>
@using OnlineTicketData.Models
@using System.ComponentModel;


@if (TempData["success"] != null)
{
    <h2>@TempData["success"]</h2>
}
<br />


<h2>Event Lists</h2>
<div class="col text-end pt-1">
    <a asp-controller="Event" asp-action="CreateEvent" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i>Create Event</a>
</div>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    EventName
                </th>
                <th>
                    EventDescription
                </th>
                <th>
                    EventDate
                </th>
                <th>
                    EventLocation
                </th>
                <th>
                    AvailableSeats
                </th>
               @* <th>
                    IsApproved
                </th>*@
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Model)
            {

                Html.RenderPartial("_EventPartial", result);

                <tr>
                    <td>
                     
                        <a asp-action="Edit" asp-route-id="@result.EventId">Edit</a>
                        <a asp-action="Delete" asp-route-id="@result.EventId">Delete</a>
                    </td>
                </tr>



           
            }
        </tbody>
    </table>
   
    @*  @await Component.InvokeAsync("Countdown")*@
}
else
{
    <p>No Events available.</p>
}























