
@model OnlineTicketData.Models.ViewModels.CountdownViewModel

<div class="countdown">
    <h3>Next Event Countdown:</h3>
    <p>@Model.CountdownTime.Days days, @Model.CountdownTime.Hours hours, @Model.CountdownTime.Minutes minutes, @Model.CountdownTime.Seconds seconds</p>
</div>

